---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Happy Birthday 🎉</title>
  </head>
  <body class="w-screen h-screen">
    <div class="flex justify-center items-center w-full h-full">
      <div>
        <h1 class="text-lg">Happy Birthday 💖</h1>
        <br />
        <div class="max-w-[17rem]">
          Well, I just got another best domain in the history of the internet.
          The score between your dad and me now stands at 2-0 ;)
          <br />
          <br />
           No matter what business you do, I hope this domain helps showcase
          your immense talent and dominate the market. Can't wait to witness
          what masterpiece you paint in this world. And yeah, you also get the
          best developer in the planet to maintain your website.
		  <br>
		  <br>
		  Always with you, cheers to us!
        </div>
      </div>
    </div>
  </body>
</html>
