---
import Shift from "../components/Shift";
import MobilePlayer from "../components/MobilePlayer";
import Layout from "../components/layout.astro";
import insta from "../assets/logos/insta.svg";
import whatsapp from "../assets/logos/whatsapp.svg";
import { Image } from "astro:assets";
---

<Layout>
  <Shift client:only />
  <div
    class="relative z-10 p-8 w-screen h-screen inset-0 flex flex-col justify-center snap-end"
  >
    <h1 class="font-bold text-4xl">
      hi,
      <br />
      i am mekhla.
    </h1>
    <br />
    a cute, beautiful, and talented videographer.
    <br />
    i make commercials, reels, and short films.
    <br />
    scroll down to see my work.
  </div>
  <div class="w-screen h-screen z-10 relative snap-end">
    <MobilePlayer client:only />
  </div>
  <div class="w-screen h-screen z-10 relative snap-end">
    <MobilePlayer videoId="fogg" client:only />
  </div>
  <div
    class="contact-page w-screen h-screen flex z-10 relative flex-col justify-center items-center snap-end"
  >
    <h1 class="font-bold text-4xl">contact me</h1>
    <br />
    <div class="flex gap-3 justify-center items-center">
      <a href="http://">
        <span class="material-symbols-rounded text-3xl pt-1 font-medium"> call</span>
      </a>
      <a href="https://www.instagram.com/mekhla_/">
        <Image src={insta} height="33" alt="" srcset="" />
      </a>
      <a href="https://www.instagram.com/mekhla_/">
        <Image src={whatsapp} height="33" alt="" srcset="" />
      </a>
      
    </div>
  </div>
</Layout>
