---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Happy Birthday 🎉</title>
  </head>
  <body class="w-screen h-screen">
    <div class="flex justify-center items-center w-full h-full">
      <div>
        <h1 class="text-lg">Happy Birthday 💖</h1>
        <br />
        <div class="max-w-[17rem]">
          Well, I just got the other <a
            class="italic underline"
            href="http://iloveyoumekhla.com">best domain</a
          > in the history of the internet.
          <br />
           The score between your dad and me now stands at 2-0 ;)
          <br />
          <br />
           This domain will help
          <span class="bold italic">Mekhla</span> showcase her talent and hard
          work to the entire world! She can do anything she wants to!
          <br />
          <br />
           And yeah, with this domain you also get the best developer in the
          planet to maintain your website.
          <br />
          <br />
           Always with you, cheers to us!
          <br />
           <span class="opacity-50">Sayantan</span>
        </div>
      </div>
    </div>
  </body>
</html>
