---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Happy Birthday 🎉</title>
  </head>
  <body class="w-screen h-screen">
    <div class="flex justify-center items-center w-full h-full">
      <div>
        <h1 class="text-lg">Happy Birthday 💖</h1>
        <br />
        <div class="max-w-[17rem]">
          Well, I got the second <a
            class="italic underline"
            href="http://iloveyoumekhla.com">best domain</a
          > in the history of the internet.
          <br />
           The score between your dad and me now stands at 2-0 ;)
          <br />
          <br />
           This birthday I gift you this domain and also the best developer in
          the planet (me) to maintain your website.
          <br />
          <br />
           And remember, you're <span class="bold italic">Mekhla</span>! Go out,
          conquer the world! Life is only once, let's do crazy shit together!
          <br />
          <br />
           Always with you, cheers to us,
          <br />
          <span class="opacity-50">Puduram</span>
        </div>
      </div>
    </div>
  </body>
</html>
