---
import "./styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="josefin-sans">
    <div
      class="sm:block lg:hidden w-screen h-screen overflow-auto snap-y snap-mandatory"
    >
      <slot />
    </div>
    <div
      class="sm:hidden lg:flex w-screen h-screen text-4xl font-bold justify-center items-center"
    >
      Desktop site is under construction! Please view on mobile.
    </div>
  </body>
</html>
